<a href="https://colab.research.google.com/github/saima8/DS-and-Algo/blob/main/Class_Photos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def classPhotos(redShirtHeights, blueShirtHeights):
    # Write your code here.
	redShirtHeights.sort(reverse = True)
	blueShirtHeights.sort(reverse = True)
    
	shirtColorInFirstRow = "RED" if redShirtHeights[0] < blueShirtHeights[0] else "BLUE"
	
	for idx in range(len(blueShirtHeights)):
		blueShirtHeight = blueShirtHeights[idx]
		redShirtHeight = redShirtHeights[idx]
		
		if shirtColorInFirstRow == "RED":
			if redShirtHeight >= blueShirtHeight:
				return False
		else:
			if blueShirtHeight >= redShirtHeight:
				return False
	return True

In [2]:
classPhotos([5, 8,1, 3, 4], [6, 9, 2, 4, 5])

True

Time: O(nlog(n))

Space: O(1)